/* Styles for the Group 2 Class project page website */



* {
    padding:0;
    margin:0;
}
/*When you have 2 word property, it must be seperated with a hyphen*/
body {
    background: lightslategray;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image:url();
    /* png = transparency */
}

div#wrapper {
    width:940px;
    background:midnightblue;
    /* padding:20px; */
    margin:10px auto;
    padding: 20px;
    overflow:hidden;
}
header {  
    background:white;
    width: 100%;
    height: 400px;
    /* margin: 20px auto; */
}

main {
    background:midnightblue;
    width: 580px;
    float: left;
    margin-right:20px;
}

div#opener {
    background: midnightblue;
}

div#pageLinks {
    background: lightskyblue;
}

aside {
    background: aliceblue;
    width: 320px;
    float:right;
    padding:5px;
}

ul {
    padding-left: 20px;
    padding-bottom:20px;
}

li {
    margin-left: 20px;
    text-decoration: none;
    color:midnightblue;
}

article {
    background:linen;
    width:540px;
    padding: 10px;
}


footer {
    height:50px;
    line-height:50px;
    background:midnightblue;
    clear:both;
    font-size:.9em;
    /* when you clear an element, you cannot add space above that element with a margin-top. You must use margin-bottom on the element that it had cleared!!! */
}
footer ul{
    margin-left:20px;
}
footer li{
list-style-type: none;
float:left;
margin-right:30px;
color:blueviolet;
}

a {
    color:blueviolet;
}


img.right{
    float:right;
    margin-left:30px;
    margin-bottom:10px
}

img.left {
    float:left;
    margin-right:30px;
    margin-bottom:20px;
}

h1,h2 {
    color:purple;
    margin-bottom:10px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h3, h4 {
    color: midnightblue;
    margin-bottom: 5px;
}

p{
    margin-bottom:20px;
    line-height:1;
}

